      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 100%;
      }
      html, body {word-break: keep-all;}

      :root {
        --themecolor : brown;
      }

        a {
          text-decoration: underline;
          color: mediumpurple;
          }
        a:visited {color: var(--themecolor);}
        a:hover {color:yellow;}
        

      body {
        padding: 0;
        line-height: 1.5;
        font-family: bc-sklonar, adobe-gothic-std, sans-serif;
        font-size: 15px; font-weight:400; font-style:normal;
        background-color: white;
        color: var(--themecolor);
      }
      ::-webkit-scrollbar { display: none; }


      


  /* Page */ 
    #back {padding: .7rem; width: 100%;}

    #text-box {
      width: 33.33vw;
      right: 0;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      background: linear-gradient(0deg, white 70%, lavender);
    }
    ul.info {
      list-style: none;
    }

    #text-box ul.info li{
      float: left;
    }

    #text-box li.i {
      padding: 1rem .7rem;
      border-top: 1px solid;
      width: 50%;
    }
    #text-box li.i.caption {
      border-left: 1px solid;
    }

    #text-box li.i.desc {
      font-size: .75rem;
      border-bottom: 1px solid;
      width: 100%;
    }

    #image-box {
      position: fixed;
      width:66.66vw;
      height: 100vh;
      left: 0vw;
      border-right: 1px solid;
      overflow-y: scroll;
    }
    #image-box img {
      width: 100%;
      padding: 0;
      margin: 0;
      float: left;
    }




    .category {
      position: fixed;
      z-index: 5;
      margin: .33rem;
      border-bottom: 1px solid;
    }

    .category.book_title {
      left: 66.66vw;
    }
    .category.intro_title {
      top: 50vh;
    }
    .category.log_title {
      left: calc(33vw - 2rem);
      bottom: 0;
      transform: rotate(90deg) translate(-50%, 100%);
    }

  /* Book  */

    #book_box {
      width: 33.3vw; 
      position: fixed;
      right: 0;
      border-left: 1px solid var(--themecolor);
      height: 100vh;
      overflow-y: scroll;
      background: linear-gradient(0deg, white 70%, lavender);
    }
    #book_list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    #book_list li {
      display: table;
      margin: 1px 1px 1px 0;
      padding: .4rem .8rem;
      background: antiquewhite;
      width: auto;
      max-width: 33vw;
      box-shadow: 3px 5px 3px;
      color: var(--themecolor);
    }
    #book_list li:hover {transform: rotate(10deg);}

    #book_list li .date {
      display: none;
      position: relative;
      left: -4.7rem;
      height: 0;
      font-size: .5rem;
    }
    #book_list li:hover > .date {
      display: block;
    }

    #book_list li .writer {
      font-size: .5rem;
    }


  /* Work */

  #work_box {
    position: fixed;
    width: 66.66vw;
    left: 0;
    height: 50vh;
    border-bottom: 1px solid var(--themecolor);
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, white 70%, lavender);
  }

  #work_box .work {
    width: 40vh;
    height: 40vh;
    margin: 0 4vw;
    padding: 0;
    background: lavender;
    border-radius: 100%;
    text-align: center;
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
    border: 1px solid;
  }
  #work_box .work:hover {
    transform: rotate(10deg);
    transition-duration: .5s;
  }


  #work_box .work a {
    color: white;
    font-size: 6rem;
    line-height: 5rem;
    text-decoration: none;
    transform: scaleY(1.3);
    -webkit-text-stroke: thick;
  }
  #work_box .work a:hover {
    -webkit-text-stroke: thistle;
  }


/* Intro */

#intro_box {
  position: fixed;
  top: 50vh;
  width: 33.33vw;
  height: 50vh;
  border-right: 1px solid var(--themecolor);
  padding: 1rem;
  background: linear-gradient(0deg, white 70%, lavender);
}
#intro_box p {padding: 1.5rem .4rem;}

/* Log */

#log_box {
  position: fixed;
  top: 50vh;
  width: 33.33vw;
  height: 50vh;
  left: 33.33vw;
  overflow-y: scroll;
  background: linear-gradient(0deg, white 70%, lavender);
}
#log_box li.log {
  border-bottom: 1px solid;
  font-size: .75rem;
}

li.log .log_info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
  padding: .33rem;
}
li.log .content {
  padding: .33rem .33rem .66rem .33rem;
}
li.log:hover > .log_info {
  background: yellow;
}
    

    




      